<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/globals.css">
</head>
<div class="horizontalContainer">
    <div class="checkbox"></div>
    <p>Lembrar Senha</p>
</div>
</html>

<style>
    .checkbox {
        width: 24px;
        height: 24px;
        border: 2px solid black;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    .checkbox:hover {
        border-color: blue;
    }

    .checkbox.checked::after {
        opacity: 1;
    }
</style>