<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .checkbox {
            width: 24px;
            height: 24px;
            border: 2px solid #808080;
            border-radius: 5px;
            display: inline-block;
            position: relative;
            background-color: white;
            cursor: pointer;
        }

        .checkbox:hover {
            filter: brightness(0.8)
        }

        .checkbox.checked::after {
            content: '✔';
            padding: 3px;
        }
    </style>
</head>
<body>
    <div class="horizontalContainer">
        <div class="checkbox" onclick="toggleEvent(this)"></div>
        <p>Lembrar Senha</p>
    </div>
    <script src="./function.js"/>
</body>
</html>